html,
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: whitesmoke;

  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;

  margin-right: 30px;
}

ul li a {
  color: black;
  text-decoration: none;
  margin: 20px;
}

ul li a:hover {
  font-weight: bolder;
  font-size: large;
}

.content {
  display: grid;
  grid-template-columns: 50% 45%;

  gap: 10px;
  overflow: hidden;
  min-height: 100vh;
}

.content img {
  width: 54%;
  padding: 10px;
  border-radius: 260px;
  margin-left: 90px;
  margin-top: 20px;
}

.text {
  text-align: center;
  margin-top: 100px;
  line-height: 2rem;
  font-style: italic;
}
h2 {
  color: rgb(245, 15, 15);
}
.logo {
  margin-left: 30px;
}
.social {
  display: flex;
  justify-content: center;
}
.social a :hover {
  background-color: black;
  padding: 2px;
  border-radius: 10px;
}

footer {
  background-color: black;
  width: 200%;
  color: rgb(245, 15, 15);
  height: max-content;
  margin-top: auto;
  text-align: justify;
}
i {
  color: rgb(245, 15, 15);
}

@media (max-width: 700px) {
  .content {
    grid-template-columns: 1fr;
  }
}
